<%-include('../includes/header.ejs') %>

<body class="js">
        <%-include('../includes/navbar.ejs') %>
        <%-include('../includes/inner_header.ejs') %>	
        <%- include('../includes/footer.ejs') %>

</body>

